<h1>Works</h1>


<ul>
  <% @works.each do |work| %>
    <li><%= link_to work.name, work_path(work) %> |
      <%= link_to "Edit", edit_work_path(work) %>
    </li>
  <% end %>
</ul>

<hr>
<%= link_to "Works", works_path %> |
<%= link_to "New Work", new_work_path %>
