<h1>Works</h1>


<ul>
  <% @works.each do |work| %>
    <li><%= link_to work.name, work_path(work) %>
    </li>
  <% end %>
</ul>

<hr>
<%= link_to "All Comics", works_path %> |
<%= link_to "New Comic", new_work_path %>
